body {
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #b5b5b5;
}

.logo-row {
    width: 250px;
    margin: 0 auto;
}

.logo {
    width: 100%;
    text-align: center;
}
footer {
    align-items: center;
}
footer p {
    align-self: center;
    text-decoration-color:#55c7df;
}